body {
  background-repeat: no-repeat;
  background-position: top -30px right;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../img/bg-main.jpg");
  font-family: "Days One", "Arial" ,sans-serif;
  color: #000000;
}

.bg-telegram {
  font-family: "Days One", "Arial" ,sans-serif;
  background-position: top right;
  background-attachment: fixed;
  background-image: url("../img/telegram-bg.jpg");
}

/*Fonts */

.font-days-one {
  font-family: "Days One", sans-serif;
}

.font-rubik {
  font-family:  "Rubik", sans-serif;
}



.purple-gradient-text {
  background: -webkit-linear-gradient(#760DFC, #3A0480);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-button {
  background: #FEFE28;
  box-shadow: 0 0.3rem 0 0 rgba(207,207,28,255);
  transition: transform 0.1s ease;
}

.telegram-button {
  background: #28B6F6;
  box-shadow: 0 0.3rem 0 0 rgba(19,141,196,255);
}

.gradient-button:active {
  transform: translateY(0.3rem);
}

.telegram-button:active {
  transform: translateY(0.3rem);
}


.telegram-radial {
  background-image: radial-gradient(#1F6588, #279FDB);
}


@media only screen and (min-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

@media only screen and (min-width: 1700px) {
  .container {
    max-width: 1536px;
  }
}


@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 3), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body {
    background-image: url("../img/bg-main@2x.jpg");
  }

  .bg-telegram {
    background-image: url("../img/telegram-bg@2x.jpg");
  }
}




@media only screen and (max-width: 1023px) {
  body, .bg-telegram {
    background-image: url("../img/mobile-bg.jpg");
  }
  @media only screen and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    body {
      background-image: url("../img/mobile-bg@2x.jpg");
    }

    .bg-telegram {
      background-image: url("../img/mobile-bg@2x.jpg");
    }
  }

}


